/* styles.css */

/* Add styles here to customize the appearance of your app */

.menu{
    -webkit-box-shadow: -1px 6px 28px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 28px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 28px -12px rgba(0,0,0,0.75);
}